<div class="w-[600px] min-h-3/6 border border-solid border-violet-400 flex flex-col justify-center px-4 py-10">
    <div class="flex">
        <input type="text" [(ngModel)]="taskListSearchText" class="w-2/3 p-2 outline-none border border-violet-400 border-solid"
        placeholder="Enter Task Name" (keyup.enter)="addToToDOList()">
        <button class="w-1/3 text-l font-bold py-2 px-4 ml-1 text-center border border-solid border-violet-400 shadow-sm hover:bg-violet-400 hover:text-white disabled:bg-violet-200 disabled:text-violet-300 cursor-pointer" (click)="addToToDOList()">Add to DO</button>
    </div>
    <div class="flex">
        <label for="TaskSelect" class="w-1/2 p-2 mr-2 my-4">Select which tasks to Show</label>
        <select name="TaskSelect" id="TaskSelect" class="w-1/2 p-2 my-4 outline-none border border-violet-400 border-solid" [(ngModel)]="statusTOShow">
            <option value="ToDo">To Do</option>
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed Tasks</option>
        </select>
    </div>
    <div [ngSwitch]="statusTOShow">
        <div class="flex flex-col max-h-72 overflow-auto" *ngSwitchCase="'ToDo'">
            <p>To Do Tasks:</p>
            <ul>
                <li *ngFor="let task of toDoList; index as index; " class="p-1 flex justify-between my-1 border border-solid border-violet-700">{{task.task}}</li>
            </ul>
        </div>
        <div class="flex flex-col max-h-72 overflow-auto" *ngSwitchCase="'InProgress'">
            <p>In Progress Tasks:</p>
            <ul>
                <li *ngFor="let task of inProgressList; index as index; " class="p-1 flex justify-between my-1 border border-solid border-violet-700">{{task.task}}</li>
            </ul>
        </div>
        <div class="flex flex-col max-h-72 overflow-auto" *ngSwitchCase="'Completed'">
            <p>Completed Tasks:</p>
            <ul>
                <li *ngFor="let task of completedList; index as index; " class="p-1 flex justify-between my-1 border border-solid border-violet-700">{{task.task}}</li>
            </ul>
        </div>
    </div>
</div>